@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1E2638
}

/* Login Section */

@keyframes slide-left-show {
    from{
        width: 50%;
        opacity: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes slide-left-close {
    from{
        width: 100%;
        opacity: 100%;
    }
    to{
        width: 50%;
        opacity: 0%;
    }
}

@keyframes opacity-show {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

section#Login{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    animation-name: slide-left-show;
    animation-duration: 2s;
    animation-timing-function: linear;

}

section#Login.close{
    opacity: 0%;
    animation-name: slide-left-close;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

section#Login .login{

    background-color: #3B404D;
    padding: 50px 50px;
    border-radius: 10px;
}

section#Login .login h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    margin: 50px 0px;
}

section#Login .login label{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
}

section#Login .login input[type='number']{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border: 1px solid #929292;
    border-radius: 20px;
    width: 100%;
}

section#Login .login input[type='number']::placeholder{
    text-align: center;
    color: #636363;
}

section#Login .login .send{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}

section#Login .login input[type='submit']{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 30px;
    background-color: #546794;
    border-style: none;
    border-radius: 5px;
}

section#Login .login input[type='submit']:hover{
    cursor: pointer;
    background-color: #34539c;
}

/* Gestor Section */

section#Gestor .main-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    width: 100%;
    height: 100%;
    animation-name: opacity-show;
    animation-duration: 1;
    animation-timing-function: ease;
}

section#Gestor .main-container .general-info {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
}

section#Gestor .main-container .general-info .saldo-container{
    display: flex;
    background-color: #3B404D;
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    
}

section#Gestor .main-container .general-info .saldo-container img{
 padding: 10px 20px;
}

section#Gestor .main-container .general-info .saldo-container .saldo-atual{
    padding: 10px 0px;
}

section#Gestor .main-container .general-info .saldo-container .saldo-atual h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

section#Gestor .main-container .general-info .saldo-container .saldo-atual p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
}


section#Gestor .main-container .general-info .actions-container{
    display: flex;
    flex-direction: column;
    background-color: #3B404D;
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

section#Gestor .main-container .general-info .actions-container .actions-types{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    button{
        font-family: "Inter", sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0);
        border-style: none;

        
    }

    button.selected {
        border-bottom: 1px solid #546794;
    }

    button:hover{
        cursor: pointer;
    }

}

section#Gestor .main-container .general-info .actions-container .logs-containers{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    padding: 10px;

    

    .log-register{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #1E2638;

        

        .log-infos{
            display: flex; 
            align-items: center;  

            img {
                width: 50px;
                height: 50px;
                padding-right: 10px;
            }

            .info {
                font-family: "Inter", sans-serif;

                h1 {
                    color: #FFFFFF;
                }

                p {
                    font-weight: 100;
                    color: #FFFFFF;
                }
            }
        }

        .log-actions{
            display: flex;
            align-items: center;
            
            h1 {
                font-family: "Inter", sans-serif;
                color: #FFFFFF;
            }

            button{
                background-color: rgba(0, 0, 0, 0);
                border-style: none;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}

section#Gestor .main-container .general-info .actions-container .logs-containers::-webkit-scrollbar{
    width: 7px;
    background: #929292;
    border-radius: 10px;
}

section#Gestor .main-container .general-info .actions-container .logs-containers::-webkit-scrollbar-thumb{
    background: #1E2638;
    border-radius: 20px;
}








section#Gestor .main-container .general-saldo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: #3B404D;
    border-radius: 5px;
}

section#Gestor .main-container .general-saldo .saldo-title{
    font-family: 'Inter', sans-serif;
    
    color: #FFFFFF;
    padding: 30px 0px;
    text-align: center;
}

section#Gestor .main-container .general-saldo .relatorio{
    height: 50%;
}

section#Gestor .main-container .general-saldo .relatorio p{
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin: 10px 0px;
}

section#Gestor .main-container .general-saldo .total-saldo{
    text-align: center;
}

section#Gestor .main-container .general-saldo .total-saldo h2{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}

section#Gestor .main-container .general-saldo .total-saldo h1{
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    color: #FFFFFF;
}

section#Gestor .main-container .general-saldo .gestor-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#Gestor .main-container .general-saldo .gestor-actions{
    margin-top: 40px;
    align-items: flex-end;
}

section#Gestor .main-container .general-saldo .gestor-actions button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 15px;

    border-style: none;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;

}

section#Gestor .main-container .general-saldo .gestor-actions button:nth-of-type(1){
    background-color: #549462;
}

section#Gestor .main-container .general-saldo .gestor-actions button:nth-of-type(2){
    background-color: #945454;
}