@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #1E2638
}

section#Login{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;

    
}

section#Login .login{

    background-color: #3B404D;
    padding: 50px 50px;
    border-radius: 10px;
}

section#Login .login h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    margin: 50px 0px;
}

section#Login .login label{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    color: #FFFFFF;
}

section#Login .login input[type='number']{
    font-family: 'Inter', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border: 1px solid #929292;
    border-radius: 20px;
    width: 100%;
}

section#Login .login input[type='number']::placeholder{
    text-align: center;
    color: #636363;
}